<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<ul id="todo-list">
<%  @todos.each do |todo| %>
  <li>
    <%= todo.description %>
    <span class="<%= todo.done ? "done" : "not-done" %>"><%= todo.done ? "Done" : "Not done" %></span> 
    <%= form_for todo  do |f| %>
      <%= f.submit "Done" %>
      <%= f.hidden_field :done, :value => true %>
    <% end %>
  </li>
<% end  %>
</ul>

<%= link_to "New Todo", new_todo_path %>
